html, body {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(213, 213, 213);
  font-family: sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: rgb(42, 42, 42);
}

body > div {
  box-sizing: border-box;
  width: 61rem;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  background: rgba(17,17,17, 0.9);
  border-radius: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

@media only screen and (max-width: 62rem) {
    body > div {
    width: 90%;
    margin: 1.5rem auto;
    padding: 1rem;
    border-radius: 1.5rem;
  }
}

a, a:hover, a:active, a:visited, a:focus {
  color: #08f;
  text-decoration: none;
}

a:hover {
  color: #f80;
}

a:before {
  content: '[';
}

a:after {
  content: ']';
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 1.2rem;
}

.sec {
  white-space: pre-line;
}

.sec * {
  white-space: normal;
}

.sec::first-line {
  font-size: 1.8rem;
}

.tiny {
  font-size: 0.85rem;
}

#navi {
  display: none;
}

b {
  font-weight: normal;
  background-color: rgba(255, 255, 0, 0.3);
  padding: 0.3em;
}

.print {
  display: none;
} 

@media only print {
  .print {
    display: block;
  }

  body,
  div {
    background: none;
  }

  body > div {
    width: auto;
    border-radius: 0;
    margin: 1.5rem 0;
    padding: 0;
  }

  body {
    font-size: 1rem;
  }

  canvas {
    display: none;
  }
}
